:where(:not(a):not(button):not(input):not(textarea)) {
    cursor: default;
}
:where(a *), :where(button *) {
    cursor: inherit;
}
:where(:not(input):not(textarea))::selection {
    background-color: transparent;
}
input, textarea {
    background-color: unset;
}
