html, .font-sans,
[uno-layer-base~="font-sans"],
[uno-layer-default~="font-sans"] {
    font-family: 'Inter',
        ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
@supports (font-variation-settings: normal) {
    html, .font-sans,
    [uno-layer-base~="font-sans"],
    [uno-layer-default~="font-sans"] {
        font-family: 'InterVariable', 'Inter',
            ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
    }
}

.need-modern-support a[target="_blank"]::after {
    content: ' →';
}

.need-modern-support > section {
    background: white;
    border: 1rem solid #dc2626;
    box-shadow:
        0 10px 15px -3px #7f1d1d,
        0 4px 6px -4px #7f1d1d;
    margin: 2rem;
    padding: 2rem;
    position: absolute;
    z-index: 9999;
}

@supports (color: oklch(0 0 0)) {
    .js .need-modern-support {
        display: none;
    }
}
