
*, ::before, ::after {
    --tw-border-opacity: 1;
    --un-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity, var(--un-border-opacity)));
}

@media print {
    .d-print-none {
        display: none;
    }
}

html, .font-sans {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

@supports (font-variation-settings: normal) {
    html, .font-sans {
        font-family:
            "Inter var",
            "Inter",
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
    }
}

[inert] {
    cursor: default;
    pointer-events: none;
}

[inert], [inert] * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
